:root {
  --disabledControlOpacity: 0.4;
  --disabledControlCursor: not-allowed;

  --disabledOpacity: 0.4;
  --disabledCursor: not-allowed;

  --buttonBorderRadius: 3px;
  --defaultBorderRadius: 3px;

  --controlOptionSize: 1.25rem;
  --controlBorderRadius: 3px;
}