:root {
  --font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --fontMono: "Roboto Mono", monospace;
  --fontSize: 1rem; /* 16px */
  --fontSizeXL: 1.125rem;
  --fontSizeLG: 1rem;
  --fontSizeMD: 0.875rem;
  --fontSizeSM: 0.75rem;
  --fontSizeXS: 0.65rem;
}

$fontBase: '/static/fonts/';

/* Thin */
@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoThin.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoThin.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoThinItalic.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoThinItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}


/* Light */
@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoLight.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Light';
	src: url('#{$fontBase}/RobotoLight.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoLightItalic.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

/* Regular */
@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoRegular.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


/* Medium */
@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoMedium.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoMediumItalic.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoMediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}


/* Bold */
@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoBold.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoBoldItalic.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}


/* Black */
@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoBlack.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoBlack.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$fontBase}/RobotoBlackItalic.woff2') format('woff2'),
			 url('#{$fontBase}/RobotoBlackItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}


@font-face {
  font-family: "Roboto Mono";
  src: url("#{$fontBase}/roboto-mono-regular.woff2") format("woff2"),
    url("#{$fontBase}/roboto-mono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}