@import './utils/strings';

@import './core/normalize';
@import './core/settings';
@import './core/animations';
@import './core/colors';
@import './core/theme';
@import './core/shadows';
@import './core/typography';

@import './elements/svg';
@import './elements/pip';

html { box-sizing: border-box; }
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.row {
  display: flex;
}

// Scrollbar customization
$scrollbarRadius: 8px;
#app {
  @include theme(--scrollbar, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
  @include theme(--scrollbarThumb, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: $scrollbarRadius;
  background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb);
  border-radius: $scrollbarRadius;
}
 